.zol_topbar0{
    position: relative;
    z-index: 997;
    height: 29px;
    font: 12px/29px arial;
    background: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
}
.zol_topbar{
    width: 960px;
    margin: 0 auto;	
}
.zol_mycenterbd{
	left: 522px;
}
.zol_mobilebd{
	left: 771px;
}
.zol_lianxitel{
	right: 143px;
}
.header{
    margin: 0 auto;
    padding: 30px 0;
    width: 960px;
    height: 100%;
}
/*step*/
.flow-step{
	float: right;
	padding: 2px 0 0;
}
.flow-step li{
    float: left;
    width: 90px;
    padding: 0 14px 0 0;
    background: url(../img/icon/step-bg.png) no-repeat;
    background-position: 100% -74px;
    background-color: #e6e6e6;
    font: 14px/36px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    text-align: center;	
}
.flow-step .s1{
	background-position: 100% -37px;
    background-color: #e02d2d;
    color: #fff;
    padding: 0 14px;	
}
.flow-step .s5{
    padding: 0;
    background: #e6e6e6;
}
.logo img{
	display: block;
    float: left;
}
/*------------------*/
.wrapper{
	width: 960px;
	margin: 0 auto;
	font-size: 12px;
}
.cart-state{
	text-align: right;
}
.mt{
	margin-top: 10px;
}
.cart-state p{
	padding: 7px 0 10px 0;
}
.cart-state .total{
    height: 22px;
    line-height: 22px;
    color: #666;	
}
.cart-state input {
    float: right;
    width: 58px;
    height: 22px;
    background: url(../img/pic1.png) no-repeat;
    background-position: -192px -150px;
    border: 0 none;
    color: #fff;
    line-height: 22px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    vertical-align: middle;
    font-size: 100%;
}
.cart-state .total span {
    float: right;
    padding: 0 8px 0 0;
    line-height: 22px;
    color: #999;
}
.cart-state .total em {
    padding: 0 2px 0 0;
    color: #ff0000;
    font-weight: bold;
    font-family: verdana;
}
/*----------------*/
.mt20{
	margin-top: 20px;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
.order-table table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.order-table th {
    height: 36px;
    background: #f5f5f5;
    border-top: 2px solid #e02d2d;
    line-height: 36px;
    font-weight: normal;
    text-align: center;
}
.order-table .th-1 {
    width: 62px;
}
.order-table .th-2 {
    width: 217px;
    padding: 0 0 0 100px;
    text-align: left;
}
.order-table .th-3 {
    width: 122px;
}
.order-table .th-4 {
    width: 106px;
}
.order-table .th-5 {
    width: 121px;
}
.order-table .th-6 {
    width: 107px;
}
.order-table .th-7 {
    width: 81px;
}
/*-------------------------------*/
.total-price {
    padding: 0 10px 0 0;
    height: 52px;
    line-height: 52px;
    text-align: right;
}
.total-price span {
    color: #666;
}
.total-price em {
    color: #ff0000;
    font-size: 16px;
    font-weight: bold;
    font-family: verdana;
}
.total-price em {
    color: #ff0000;
    font-size: 16px;
    font-weight: bold;
    font-family: verdana;
}
/*-----------------------------*/
.order-foot {
    position: relative;
    padding: 0 0 0 12px;
    height: 33px;
    border: 1px solid #e3e3e3;
    background: ##f5f5f5;
    line-height: 33px;
}
.order-foot label {
    float: left;
    padding: 0 25px 0 0;
    _padding: 7px 25px 0 0;
}
.order-foot a {
    float: left;
    margin: 0 30px 0 0;
}
.order-foot .go-shopping {
    float: none;
    position: absolute;
    top: 0;
    right: 150px;
    margin: 0;
    font-family: "simsun";
}
.order-foot .accounting-btn {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 130px;
    height: 35px;
    font: 18px/35px "Microsoft YaHei";
    color: #fff;
    border: 0 none;
    background: url(../img/pic1.png) no-repeat;
    background-position: 0 -113px;
    cursor: pointer;
}
/*------------------------*/
.mt20{
	margin-top: 20px;
}
.modgoods-tab {
    border-bottom: 1px solid #e3e3e3;
}
.modgoods-tab .cur {
    margin: 0 5px -1px 0;
    position: relative;
    border-top: 2px solid #e02d2d;
    background: #fff;
    cursor: auto;
}
.modgoods-tab li {
    float: left;
    width: 129px;
    height: 33px;
    margin: 0 5px 0 0;
    border: 1px solid #e3e3e3;
    border-bottom: 0 none;
    background: #f6f6f6;
    text-align: center;
    font: 16px/33px "Microsoft YaHei";
    cursor: pointer;
}
.modgoods-tabbox {
    position: relative;
    border: 1px solid #e0e0e0;
    border-top: 0 none;
}
.modgoods-list {
    padding: 20px 0 13px 14px;
}
.modgoods-list li {
    float: left;
    width: 162px;
    padding: 0 12px;
    text-align: center;
}
.modgoods-list li img {
    display: block;
    border: 1px solid #e2e2e2;
}
.modgoods-list .pic span {
    display: block;
    height: 24px;
    padding: 5px 0 0;
    line-height: 24px;
    overflow: hidden;
}
.modgoods-list .price {
    color: #ff0000;
    font-size: 16px;
    font-family: Verdana;
    font-weight: bold;
}
/*-----------------------------------*/
.order-table .other td {
    background: #fcfcfc;
}
.order-table .s-infor {
    padding: 10px 10px 10px 12px;
    width: 357px;
}
.order-table .s-infor {
    border-left: 1px solid #e3e3e3;
    
}
.s-infor input {
    float: left;
    margin: 24px 10px 0 0;
}
select, input, button {
    vertical-align: middle;
    font-size: 100%;
}
.s-infor .g-pic {
    float: left;
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    line-height: 58px;
    text-align: center;
    background: #fff;
}
.s-infor .g-pic img {
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border: 0;
}
.s-infor .inforbox {
    float: left;
    width: 240px;
    padding: 0 0 0 10px;
    line-height: 20px;
    text-align: left;
    display: block;
}
.s-infor .inforbox .tit {
    margin: -2px 0 4px;
    height: 40px;
    line-height: 20px;
    font-weight: normal;
    font-size: 12px;
    overflow: hidden;
}
.security {
    padding: 5px 0;
    display: block;
    }
.s-infor .inforbox p {
    color: #666;
}
.s-infor .info-con {
    height: 20px;
    line-height: 20px;
    color: #666;
    display: block;
}
div{
	display: block;
}
.security-a{
    float: left;
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 5px;
}
.security-a {
	background: url(../img/pic1.png) no-repeat;
    background-position: 0 -286px;
}
.s-infor .info-con span {
    cursor: pointer;
}
/*----*/
.order-table td {
    padding: 10px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
   
}
em {
    font-style: normal;
}
.s-price {
    width: 102px;
    clear: both;
}
.s-amount {
    width: 130px;
    
}
.s-agio {
    width: 101px;
    
}
.s-total {
    width: 87px;
    
}
.order-table .s-del {
    border-right: 1px solid #e3e3e3;
  }
 
.order-table table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}    
body{
	font: 12px/1.5 Arial;
    color: #333;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
/*-------------------------------------*/
.buy-num {
    position: relative;
    width: 110px;
    height: 20px;
    padding: 31px 0;
    text-align: center;
}
.minus, .no-minus {
    margin: 5px 8px 0 10px;
}
.minus, .plus {
    float: left;
    width: 10px;
    height: 10px;
    line-height: 10px;
    background: #fff;
    color: #333;
    text-align: center;
    border: 1px solid #ccc;
    overflow: hidden;
}
.text-amount {
    width: 28px;
    height: 16px;
    float: left;
    padding: 1px 3px;
    text-align: right;
}
.plus {
    margin: 5px 0 0 8px;
}
/*--------------------------------*/
.s-total em {
    color: #ff0000;
    font-family: "verdana";
}
.s-delbox {
    position: relative;
}
.s-del a {
    display: block;
    line-height: 20px;
}
/**/
.diiv{
	width: 375px;
}
