/*------------top-------------*/
.zol_top0{
	position: relative;
    z-index: 997;
    height: 29px;
    font: 12px/29px arial;
    background: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
}
.zol_top{
	width: 1200px;
    margin: 0 auto;
}
.welcome{
	float: left;
}
.zol_backhome{
	padding-right:20px;
}    
.zol_login{
	padding: 0 20px 0 0;
    color: #666;
}
/*-------------------------------*/
.zol_menu{
	float: right;
    margin: 0 -10px 0 0;
}
.zol_menu li{
	float: left;
    margin: 0 10px;
    height: 29px;
    font: 12px/29px arial;
}
.zol_menu li a{
	display: inline-block;
    color: #666;
}
.zol_mycenter{
	float: left;
    height: 29px;
    font: 12px/29px arial;
	border-left:1px solid #f5f5f5;
	border-right:1px solid #f5f5f5;
}
.zol_hd{
	position: relative;
    padding: 0 23px 0 10px;
}
.zol_mycenterbd{
	display:none;
	position: absolute;
    top: 29px;
    left: 633px;
    padding: 3px 9px;
    width: 88px;
    border: 1px solid #ededed;
    background: #fff;
}
.shu{
	color:#ccc;
}
/*------------------------------*/
.zol_mobile{
	border-left:1px solid #f5f5f5;
	border-right:1px solid #f5f5f5;
}
.zol_mobile .zol_hd{
	padding: 0 23px 0 25px;
    
	position:relative;
	background:url(../img/icon/topbar_ico.png) no-repeat;
	background-position: 0 0;
}
.zol_mobilebd{
	display:none;
	position: absolute;
    top: 29px;
    left: 883px;
    padding: 20px;
    width: 130px;
    height: 130px;
    border: 1px solid #ededed;
    background: #fff;
}
.ico{
	position: absolute;
    top: 13px;
    right: 10px;
    width: 7px;
    height: 4px;
    background: url(../img/icon/topbar_ico.png) no-repeat;
    background-position: 0 -45px;
}
.lianxikefu{
	border-left:1px solid #f5f5f5;
	border-right:1px solid #f5f5f5;
}
.zol_lianxitel{
	display: none;
    position: absolute;
    top: 29px;
    right: 23px;
    padding: 3px 9px;
    width: 80px;
    border: 1px solid #ededed;
    font: 12px/28px arial;
    text-align: right;
    background: #fff;
}
/*---------------动态效果--------------------*/
.zol_mycenter:hover .ico,.zol_mobile:hover .ico,.lianxikefu:hover .ico{
	-webkit-backface-visibility: hidden;
  border-color: #bbb transparent transparent;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.zol_backhome a:hover,.zol_login a:hover,.zol_register:hover,.zol_menu .li1:hover a{
	color:#c00;
	text-decoration:underline;
}
.zol_mycenter:hover,.zol_mobile:hover,.lianxikefu:hover{
	background:#fff;
	border-left:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	
}
.zol_mycenter:hover .zol_mycenterbd{
	display:block;
}
.zol_mobile:hover .zol_mobilebd{
	display: block;
}
.lianxikefu:hover .zol_lianxitel{
	display: block;
}
/*-----------------------logo处---------------------------*/
.header{
	margin: 0 auto;
    padding: 25px 0 0;
    width: 1200px;
    height: 92px;
}
.clearfix:after{
	content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
}
/*---------------------logo---------------------*/
.logo{
	float: left;
    padding: 5px 0 0;
}
.logo h1{
	float: left;
}
.logo .mall_logo{
	display: block;
	width: 182px;
	height: 60px;
    background: url(../img/shop_182x60.png) no-repeat;
}
/*----------------城市地址------------------------*/
.logo-right-box{
	float: left;
    height: 50px;
    border-left: 1px solid #eee;
    margin-left: 10px;
}
.city-location{
	display: inline-block;
    height: 35px;
    margin: -8px 0 6px -1px;
    position: relative;
    border-style: solid;
    border-color: transparent;
    border-width: 1px 1px 0 1px;
}
.city-name{
	display: block;
    padding: 0 32px 0 10px;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    position: relative;
    z-index: 5;
    cursor: pointer;
    border:1px solid #fff;
}
.city-name .icon{
	position: absolute;
    right: 8px;
    top: 0;
    width: 10px;
    height: 34px;
    background: url(../img/icon/city-icon.png) no-repeat left center;
}
.city-list{
	display: none;
    width: 180px;
    padding: 8px 0;
    position: absolute;
    left: -1px;
    top: 33px;
    background-color: #fff;
    border: 1px solid #eee;
}
.city-list li{
	float: left;
    padding: 2px 10px;
    height: 24px;
    line-height: 24px;
}
.city-list li a{
	display: inline-block;
    color: #333;
    padding: 0 8px;
    font-size: 12px;
}
.explain{
	margin-top: -10px;
    height: 30px;
    line-height: 14px;
    font-size: 12px;
    color: #666;
    width: 150px;
    padding-left: 12px;
    background: url(../img/tc-logo.jpg) no-repeat 12px center;
}
.city-location:hover .city-list{
	display: block;
}
.city-location:hover .city-name{
	border:1px solid #eee;
	border-bottom: none;
}
.city-list li:hover a{
	color:#ce1a1b ;
	background: #f4f4f4;
}
/*---------------搜素-------------------*/
.search-box{
	float: left;
    padding: 12px 0 0 56px;
}
.search{
	position: relative;
    width: 536px;
    height: 32px;
    border: 2px solid #c40000;
    z-index: 3;	
}
.search-text{
	padding: 6px 10px;
    width: 427px;
    height: 20px;
    font: 14px/20px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #666;
    border: 0 none;
    outline: 0 none;
    vertical-align: middle;
}
.search-btn{
	position: absolute;
    top: 0;
    right: 0;
    width: 89px;
    height: 32px;
    font: 16px/32px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #fff;
    border: 0 none;
    background: #c40000;
    cursor: pointer;
    vertical-align: middle;
}
/*--------------------------------*/
.hot-search{
	padding: 7px 0 0;
    font: 12px/18px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
}
.hot-search a{
	display: inline-block;
    margin: 0 15px 0 0;
    color: #999;
}
.ad-div{
	float: right;
    width: 180px;
    height: 60px;
    padding-top: 0;
}
.ad-div a img{
	vertical-align: middle;
}
/*-------------------------------*/
.nav-box{
	width: 1200px;
    padding-left: 0;
	position: relative;
    z-index: 2;
    zoom: 1;
    margin: 0 auto 10px;
    border-bottom: 2px solid #ce1a1b;    
}
.nav li{
    float: left;
    padding: 0 20px;
    height: 30px;
    font: 16px/30px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";	
}
.nav li a{
	color: #333333;
}
.nav li:hover a{
	color: #CC0000;
}
.nav-tips{
	position: absolute;
    top: 0;
    right: 0;
    font: 16px/30px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #f33;
}
.nav-tips a{
	color: #f33;
}
.nav-tips a:hover{
	color: #C40000;
}
/*------------banner等-----------------*/
.zol-main{
	position: relative;
	width: 1200px;
    margin: 0 auto;
}
.main-right{
	height: 443px;
	width: 240px;
	float: right;
}
.manual{
	height: 221px;
	width: 240px;
	margin-bottom: 1px;
}
.manual a{
	display: block;
	height: 100%;
}
.manual a img{
	height: 100%;
	width: 100%;
	border: 0;
}
/*---------------------------------------*/
.banner{
	width: 951px;
	height: 290px;
    position: relative;
}
.slider-wrapper{
	width: 951px;
	height: 290px;
}
.nivoSlider{
	width: 951px;
	height: 290px;
	position: relative;
}
#slider .nivo-slice{
	float: left;
	height: 50px;
}
.nivo-prevNav{
	
	width: 39px;
    height: 65px;
    position: absolute;
    top: 50%;
    margin-top: -32px;
    cursor: pointer;
    text-indent: -9999px;
    background: url(../img/arrows.png) no-repeat;
    left: 0;
    background-position: 0 0;
}
.nivo-prevNav:hover{
	background-position: -41px 0;
}
.nivo-nextNav{
	
	width: 39px;
    height: 65px;
    position: absolute;
    top: 50%;
    margin-top: -32px;
    cursor: pointer;
    text-indent: -9999px;
    background: url(../img/arrows.png) no-repeat;
    right: 0;
    background-position: 0 -69px;
}
.nivo-nextNav:hover{
	background-position: -41px -69px;
}
.nivo-controlNav{
	position: absolute;
    left: 880px;
    bottom: 10px;
    width: 100%;
    float: right;
    width: 100px;
}
/*----------------------------------*/

.nivo-controlNav a{
	margin: 0 2px;
	float: left;
    display: block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background-repeat: no-repeat;
    background-image:url(../img/focus-index.png);
    background-position: 0 0;
    cursor: pointer;
}
.nivo-controlNav .active{
	background-position: 0 -20px;
}
/*---------------------------------------*/
.main-list{
	margin: -1px 0 0 1px;
}
.main-list li{
	position: relative;
	width: 174px;
    height: 152px;
    display: inline;
    float: left;
    padding-left: 15px;
    border: 1px solid #e6e6e6;
    text-align: right;
    margin-left: -1px;
}
.name{
	height: 24px;
    line-height: 24px;
    font-size: 16px;
    margin-top: 10px;
    text-align: left;
    font-family: 'Microsoft YaHei';
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.price{
	height: 22px;
    line-height: 22px;
    font-size: 14px;
    color: #d33f3f;
    
    text-align: left;
    font-family: 'Microsoft YaHei';
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.pic{
	position: absolute;
	left: 65px;
	display: inline-block;
    width: 120px;
    height: 90px;
    transition: .5s all ease;
    -webkit-transition: .5s all ease;
}
.pic img{
	width: 120px;
    height: 90px;
    vertical-align: top;
    border: 0;
}
.pic:hover {
	left: 58px;
}
/*------------------------------------*/
.tuangou{
	margin-top: 12px;
}
.tuangou-title{
	height: 44px;
}
.title{
	float: left;
    padding-left: 15px;
    line-height: 44px;
    font-size: 24px;
    font-weight: normal;
    background: url(../img/module-title.png) no-repeat left center;
}
.more{
	float: right;
    height: 34px;
    line-height: 34px;
    padding-top: 10px;
    color: #d9d9d9;
    margin-right: -10px;
}
.more a{
	font-size: 12px;
    color: #666;
    margin: 0 15px;
}
/*--------*/
.tuangou li:hover{
	padding-bottom: 0;
	border-bottom: 3px solid #ce1a1b;
}
.tuangou-list li{
    float: left;
    width: 298px;
    height: 213px;
    padding-bottom: 2px;
    border: 1px solid #ededed;
    margin-left: -1px;
}

.tuangou-list li a{
	display: block;
    width: 298px;
    height: 179px;
    border-bottom: 1px dashed #ededed;
}
.tuangou-list li a img{
	vertical-align: middle;
	border: 0;
	width: 298px;
	height: 180px;
}
.countdown{
    height: 32px;
    line-height: 32px;
    text-align: center;	
}
.countdown b{
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	margin-top: -3px;
	background: url(../img/time.png) no-repeat center;
	text-indent: -9999em;
}
.countdown span{ 
	color:#999; 
	padding:0 2px;
}
.countdown .n1{ background-position:0 0;}
.countdown .n2{ background-position:0 -21px;}
.countdown .n3{ background-position:0 -42px;}
.countdown .n4{ background-position:0 -63px;}
.countdown .n5{ background-position:0 -82px;}
.countdown .n6{ background-position:0 -102px;}
.countdown .n7{ background-position:0 -123px;}
.countdown .n8{ background-position:0 -142px;}
.countdown .n9{ background-position:0 -162px;}
.countdown .n0{ background-position:0 -182px;}
.countdown .n00{ background-position:0 -203px;}
/*---------------------------------------------------*/
.bendi{
	margin-top: 12px;
}
.module-title{
	height: 44px;
}
.rush-list li{
	float: left;
    width: 399px;
    height: 210px;
    padding-bottom: 2px;
    border: 1px solid #ededed;
    margin-left: -1px;
    list-style: none;
}
.rush-list .bd-pic{
	float: left;
    width: 150px;
    height: 150px;
    margin: 20px 0 0 25px;
}
.rush-list .bd-pic img{
	width: 150px;
    height: 150px;
    vertical-align: middle;	
}
.word{
	margin: 19px 0 0 200px;
}
.rush-list .bd-title{
	font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    height: 48px;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
}
.rush-list .bd-title a{
	color: #000;
}
.rush-list .bd-price{
	font-size: 14px;
    color: #ce1a1b;
    line-height: 34px;
}
.rush-list .bd-price span{
	font-size: 20px;
    line-height: 26px;
}
.bd-discount{
	font-size: 12px;
    color: #999;
    text-decoration: line-through;
    line-height: 22px;
}
.rush-list .operation{
	margin-top: 25px;
    height: 22px;
}
.rush-list .save{
	float: left;
	height: 20px;
    line-height: 20px;
    padding: 0 10px;
    font-size: 12px;
    color: #ce1a1b;
    border: 1px solid #ce1a1b;
}
.rush-list .buy-btn{
	float: left;
	display: block;
	width: 76px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background-color: #ce1a1b;
}
.rush-list li:hover{
	padding-bottom: 0;
	border-bottom: 3px solid #ce1a1b;
}
/*------------------------------------*/
.mobile-region{
	padding: 0 14px 14px;
    border: 1px solid #ebebeb;
}
.mobile{
	margin-top: 12px;
}
.mobile-head{
	height: 40px;
    padding: 10px 0;
}
.stores-logo{
	float: left;
}
.stores-logo a{
	margin-right: 10px;
}
.stores-logo a img{
	height: 40px;
	width: 160px;
    vertical-align: middle;
}
.mobile-head .service-con{
	float: right;
    line-height: 40px;
    font-size: 16px;
    color: #333;
}
.service-con span{
	display: inline-block;
    height: 26px;
    line-height: 26px;
    border: 1px solid #333;
    font-size: 12px;
    color: #333;
    padding: 0 10px;
    margin-right: 8px;
}
/*--------------------------*/
.mobile-list{
	margin-left: -5px;
}
.mobile-list .wide{
	width: 464px;
}
.mobile-list li{
	float: left;
    height: 235px;
    width: 348px;
    margin-left: 5px;
}
.main-list img{
	vertical-align: middle;
}
.mobilemin-list{
	margin: 5px 0 0 -5px;
}
.mobilemin-list li{
	float: left;
    width: 230px;
    height: 230px;
    margin-left: 5px;
}
.mobilemin-list li img{
	vertical-align: middle;
    width: 100%;
    height: 100%;
}
.mobile-list li:hover{
	opacity: 0.8;
}	
.mobilemin-list li:hover{
	opacity: 0.8;
}
.brands-con{
	padding: 3px 3px 3px 4px;
    border: 1px solid #ededed;
    margin-top: -1px;
}
.brands-con li{
	float: left;
    width: 118px;
    height: 60px;
    border: 1px solid transparent;
    margin-left: -1px;
}
.brands-con li a img{
	width: 118px;
	height: 60px;
}
/*--------------------------------------*/
.computer{
	margin-top: 12px;
}
.computer-left{
	float: left;
    width: 360px;
    height: 420px;
    position: relative;
}
/*---------------------------------*/
.computer-right{
	float: right;
    width: 840px;
    height: 420px;
    position: relative;
}
.waretype-tab{
	position: absolute;
    top: -34px;
    left: 1px;
}
.waretype-tab li{
	float: left;
    width: 108px;
    text-align: center;
    height: 32px;
    line-height: 32px;
    padding-top: 1px;
    margin-left: -1px;
    border: 1px solid #ededed;
    font-size: 16px;
    color: #333;
    background-color: #fff;
}
.waretype-tab .cur{
	padding-top: 0;
    border-top: 2px solid #ce1a1b;
    height: 33px;
    border-bottom: 0 none;
}
.product-series{
    margin-left: 2px;	
}
.product-series li{
	float: left;
    width: 188px;
    height: 189px;
    border: 1px solid #ededed;
    margin: -1px 0 0 -1px;
    padding: 10px;	
}
.product-series .p-pic{
    display: block;
    width: 160px;
    height: 120px;
    margin: 0 auto 3px;	
}
.product-series .p-pic img{
	vertical-align: middle;
	width: 120px;
	height: 120px;
}
.product-series .name{
    height: 40px;
    line-height: 20px;
    font-size: 12px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    font-weight: normal;
    margin-bottom: 5px;	
}
.product-series .name a{
	color: #333;
}
.product-detail{
	height: 18px;
}
.product-detail .price{
	font-size: 14px;
    color: #ce1a1b;
    float: left;
    height: 18px;
    line-height: 18px;
}
/*------------------------------------*/
.waretype-con{
	width: 840px;
    height: 420px;
}
.waretype-con .item{
	width: 840px;
	height: 420px;
}
.hot-region-left{
	float: left;
    width: 840px;
    height: 420px;
}
.hot-refion-focus{
    width: 838px;
    height: 218px;
    border: 1px solid #ededed;
    overflow: hidden;
    position: relative;
}	
.hot-region-ware{
    margin: -1px 0 0 1px;	
}
.hot-region-ware li{
	float: left;
    width: 209px;
    height: 199px;
    border: 1px solid #ededed;
    margin-left: -1px;
}
.hot-region-ware li a img{
	width: 208px;
	height: 199px;
	border: 0;
}
.hot-region-ware .last{
	width: 208px;
}
/*---------------------------------------*/
#hot-focus .bx-pager{
	position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
}
#hot-focus .bx-pager-item a{
	width: 8px;
    height: 8px;
    line-height: 18px;
    font-size: 0;
    line-height: 0;
    background: url(../img/hot-focus.png) no-repeat;
    background-position: 0 0;
}
#hot-focus .bx-pager-item a.active{
	background-position: 0 -10px;
}
#hott-focus .bx-pager{
	position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
}
#hott-focus .bx-pager-item a{
	width: 8px;
    height: 8px;
    line-height: 18px;
    font-size: 0;
    line-height: 0;
    background: url(../img/hot-focus.png) no-repeat;
    background-position: 0 0;
}
#hott-focus .bx-pager-item a.active{
	background-position: 0 -10px;
}
/*----------------------------------------*/
.recommend{
	margin-top: 12px;
}
.other{
	float: right;
    height: 44px;
    line-height: 44px;
    padding-left: 22px;
    margin-right: 10px;
    font-size: 14px;
    color: #666;
    background: url(../img/other.png) no-repeat left center;
    cursor: pointer;
}
.mobile-hot-list{
	margin-left: 1px;
}
.mobile-hot-list li{
	float: left;
    width: 219px;
    height: 292px;
    border: 1px solid #ededed;
    padding: 9px;
    position: relative;
}
.mobile-hot-list li:hover{
	border: 1px solid #CC0000;
}
.rm-pic{
	display: block;
    height: 220px;
    position: relative;
}
.rm-pic img{
	vertical-align: middle;
	border: 0;
}
.mobile-hot-list .rm-name{
	height: 40px;
    line-height: 20px;
    font-size: 12px;
    overflow: hidden;
    font-weight: normal;
    margin-top: 5px;
}
.mobile-hot-list .rm-name a{
	color: #333;
}
.mobile-hot-list .rm-name a:hover{
	text-decoration: underline;
	color: #CE1A1B;
	cursor: pointer;
}
.mobile-hot-detail{
	height: 18px;
    margin-top: 7px;
}
.mobile-hot-detail .price{
	font-size: 14px;
    color: #ce1a1b;
}
/*------------------------------*/
.footer{
	margin: 30px 0 0;
    border-top: 1px solid #d9d9d9;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
}
.footer-service{
    padding: 30px 0;
    overflow: hidden;
}
.footer-service li{
	position: relative;
    float: left;
    width: 200px;
    height: 50px;
    background: url(../img/service-bg.png) no-repeat;
}
.footer-service li a{
	display: block;
    height: 50px;
    padding-left: 60px;
}
.footer-service li .top{
    font-size: 18px;
    height: 28px;
    line-height: 28px;
    color: #333;
}
.footer-service  li .below{
	font-size: 14px;
    height: 22px;
    line-height: 22px;
    color: #666;
}
.footer-service .ser-bg1{
	background-position: left top;
}
.footer-service .ser-bg2{
    background-position: left -52px;
}
.footer-service .ser-bg3{
	background-position: left -104px;
}
.footer-service .ser-bg4{
    background-position: left -156px;	
}
.footer-service .ser-bg5{
	background-position: left -208px;
}
.footer-service .ser-bg6{
	background-position: left -260px;
}
/*---------------------------------*/
.footer-service-relate{
    padding: 20px 0;
    border-top: 1px solid #ededed;
}
.footer-service-relate .cooperation{
	float: right;
    padding: 0 0 0 60px;
	width: 145px;
	background: url(../img/footer.png) no-repeat;
    background-position: 0 -215px;
}
.cooperation dt,.hotline dt{
	padding: 0;
    font-size: 16px;
    font: bold 14px/28px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #666;
}
.footer-service-relate dd p{
	font: 12px/28px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
}
.cooperation .btn{
    display: block;
    margin: 6px 0 0;
    width: 80px;
    height: 26px;
    font: 12px/26px SimSun;
    color: #fff;
    text-align: center;
    background: #f33;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.cooperation .btn span{
    padding: 0 5px 0 0;
    font-family: "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
}
/*-----------------*/
.footer-service-relate .hotline{
    float: right;
    padding: 0 0 0 60px;
    width: 210px;
    background: url(../img/footer.png) no-repeat;
    background-position: 0 -90px;
}
.hotline .weibo{
	display: inline-block;
    padding: 0 0 0 26px;
    font: 12px/32px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #333;
    background: url(../img/footer.png) no-repeat;
    background-position: 0 0;
}
.footer-service-relate dl{
	float: left;
    width: 175px;
}
.footer-service-relate dl a{
	    color: #666;
}
.footer-service-relate dt{
    font: bold 14px/28px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #666;
}
/*----------copy-------------*/
.copy{
	padding: 25px 0 30px;
    background: #2d2d2d;
}
.partners{
	position: relative;
    zoom: 1;
    padding: 0 135px 0 55px;
    height: 24px;
    overflow: hidden;
    font: 12px/24px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #666;
}
.partners .label{
	position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
}
.partners a{
	margin: 0 10px;
    color: #fff;
    white-space: nowrap;
}
.footer-nav{
	margin: 0 0 0 -10px;
    padding: 7px 0 0;
    font: 12px/24px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #666;	
}
.footer-nav{
    margin: 0 0 0 -10px;
    padding: 7px 0 0;
    font: 12px/24px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #666;	
}
.footer-nav a{
	margin: 0 10px;
    color: #fff;
    white-space: normal;
    word-break: keep-all;
}
.copyright{
	margin: 0 0 0 -10px;
    padding: 20px 0 0;
    font: 12px/24px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #666;
}
.copyright a{
	margin: 0 10px;
    color: #999;
    white-space: normal;
    word-break: keep-all;
}
.copyright span{
	padding: 0 0 0 15px;
	color: #999;
}
/*------------------------侧栏--------------------------*/
.zol-side-toolbar-box{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 18000;
    height: 100%;
    background: transparent;	
}
.zol-toolbar-tabbar{
	position: fixed;
    top: 0;
    right: 0;
    width: 37px;
    height: 100%;
    background: #2d2d2d;
    z-index: 10000;
}
.zol-operation-tabbox{
	position: absolute;
    top: 50%;
    left: 0;
    margin: -250px 0 0;
    width: 37px;
    height: 266px;	
}
.tab-order,.tab-footprint,.tab-coupons,.tab-footprint,.tab-cart{
	position: relative;
    zoom: 1;
    margin: 0 0 12px;
    background-color: #2d2d2d;
}
.tab-ico{
    width: 37px;
    height: 37px;
    background: url(../img/bar_ico.png) no-repeat;
    cursor: pointer;	
}
.tab-order .tab-ico{
	background-position: 0 0;
}
.tab-footprint .tab-ico{
	background-position: 0 -74px;
}
.tab-cart .tab-ico{
	background-position: 0 -111px;
}
.tab-cart .zol-number{
    position: absolute;
    top: -4px;
    right: 3px;
    padding: 1px 4px 0;
    height: 13px;
    font: 12px/13px Arial;
    background: #f33;
    color: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;	
}
.tab-coupons .tab-ico{
    background-position: 0 -693px;
}
.tab-coupons .xhd{
	background: red;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    padding: 1px 1px 0;
    top: -8px;
    right: 3px;
    position: absolute;
   display: none;
}
.zol-toolbar-tool{
    position: absolute;
    bottom: 0;
    right: 0;
}
.zol-toolbar-tool .feedback{
	display: block;
    padding: 5px;
    font: 12px/14px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #fff;
    text-align: center;
}
.zol-toolbar-tool .zol-backtop{
    display: block;
    width: 37px;
    height: 37px;
    background: url(../img/bar_ico.png) no-repeat;
    background-position: 0 -185px;
    background-color: #2d2d2d;	
}
/*-tab hover-*/
.tab-tips,.tab-tips1,.tab-tips2,.tab-tips3{
	position: absolute;
    right: -68px;
    width: 68px;
    background: #f33;
    font: 12px/37px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #fff;
    text-align: center;
    white-space: nowrap;
    right: -68px;
    
}
.tab-tips{
	top: 215.5px;
}
.tab-tips1{
	top: 264.5px;
}
.tab-tips2{
	top: 313.5px;
}
.tab-tips3{
	top: 362.5px;
}
.tab-order:hover,.tab-cart:hover,.tab-coupons:hover,.tab-footprint:hover{
	background: #f33;
}
.tab-cart:hover .zol-number{
	background:#fff ;
    color:#f33 ;
}

